<h1>Hello All!</h1>
<h3>
<p>This is a fun little To-do list app in which you can manage your task list, cross-them, uncross-them and etc. Not much of the moving parts in this little RoR app But it is good to go!!. No other person can edit out your stuff or delete them. This remains confedential for even us to have a glance at your work.</p> 

<p>Safety remains on your end. Cancel your account if you sense someone mishandling your database records, though it is unlikely to happen. Never speak out your usernames and passwords. You, will be given a new workspace from out database which will seperate you out from other users. In this app  you will have even a confedential Username!! Therefore, you are always advised to create strong passwords.
</p>
<p>This website is created using Sublime Text Edit and Git Bash. Also, this website is hoisted on the network (or Internet) by heroku.</p>
<p>Sign up and begin with!!</p>
</h3>
